<div class="card-list-wrap">
    <div class="grey-color custom-card" *ngFor="let theme of themes">
        <h2>{{theme.name | titlecase}}</h2>
        <p>{{theme.description}}</p>
        <div class="subscribe-wrap">
            <button  mat-raised-button class="custom-button" (click)="subscribe(9)" *ngIf="!findSubscribed(theme.id)">S’abonner</button>
            <button  mat-raised-button class="custom-button" (click)="unSubscribe(9)" *ngIf="findSubscribed(theme.id)">Se désabonner</button>
        </div>
    </div>
</div>