.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bord{
  border: 2px solid;
  border-radius: 15px;
}
.buttons-space{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.container-wrap{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 425px){
  .buttons-space{
    flex-direction: column;
    align-items: center;
  }
  .bord{
    margin-top: 4%;
  }
}
