h4{
    margin: 0;
}
h2,p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2{
    height: 22px;
    white-space: nowrap;
}
p{
    display: -webkit-box;
    font-size: small;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.banner-custom{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 3%;
}

.filter-wrap{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
}

.card-subtitle{
    display: flex;
    justify-content: space-around;
}

@media all and (max-width: 425px){
    .banner-custom{
        flex-direction: column;
        align-items: center;
    }
    .filter-wrap{
        width: 30%;
        margin-top: 2%;
    }
}