<nav class="nav-bar">
    <div class="display-logo">
        <img src="/assets/logo_p6.png" alt="logo">
    </div>
    <div class="left-side-nav">
        <ul>
            <li>Article</li>
            <li>themes</li>
        </ul>
        <div class="profile-pic">
            <img src="https://img.freepik.com/vecteurs-premium/illustration-plate-vectorielle-echelle-gris-profil-utilisateur-avatar-image-profil-personne-icone-profil-entreprise-femme-convient-pour-profils-medias-sociaux-icones-economiseurs-ecran-comme-modelex9_719432-1328.jpg" alt="profile pic">
        </div>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
</nav>

