<app-header></app-header>
<form class="form-wrap" [formGroup]="loginFormGoup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@email.com" formControlName="email">
        <mat-error *ngIf="loginFormGoupControls.email.invalid && loginFormGoupControls.email.errors">
            <mat-error *ngIf="loginFormGoupControls.email.errors.required && (loginFormGoupControls.email.dirty || loginFormGoupControls.email.touched)">ce champ est obligatoire</mat-error>
            <mat-error *ngIf="loginFormGoupControls.email.errors.email">ce champ doit contenir un email</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type] ="showPassword ? 'password' : 'text'" placeholder="password" formControlName="password">
        <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="showPassword"
      >
        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        <mat-error *ngIf="loginFormGoupControls.password.invalid && loginFormGoupControls.password.errors">
            <mat-error *ngIf="loginFormGoupControls.password.errors.required && (loginFormGoupControls.password.dirty || loginFormGoupControls.password.touched)" >ce champ est obligatoire</mat-error>
        </mat-error>
      </mat-form-field>
    <button mat-raised-button class="custom-button" type="submit">Connexion</button>
</form>