.user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme-display{
    display: flex;
    justify-content: space-around;
}
.card-theme{
    display: flex;
    flex-direction: column;

}
.unsubscribe-button{
    
}