/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
img{
    object-fit: cover;
    width: 100%;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-form{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.error-color{
    color: #FF4F4B;
}
.custom-button{
    background-color: #7763C5;
    color: white;
    border-radius: 10px !important;
}
.grey-color{
    background-color: #F5F5F5;
}
.purple-color{
    color: #7763C5;
}
.card-list-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.custom-card{
    width: 40%;
    padding: 2%;
    border-radius: 15px;
    margin-top: 3%;
}

.arrow-icon{
    width: 5%;
}

.back-arrow{
    cursor: pointer;
}

@media all and (max-width: 425px){
    .card-list-wrap{
        flex-direction: column;
        align-items: center;
    }
    .custom-card{
        width: 90%;
    }
}